.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 150px;
  align-items: center;
  gap: 15rem;
  padding: 0 3rem;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-heading);
  background-color: var(--color-secondary);
}

.header-title {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: bold;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  min-width: 0;

}

.search-box input {
  flex: 1;
  min-width: 0;
  max-width: 350px;
  padding: 0.5rem 1rem;
  font-family: var(--font-body);
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

.button-search {
  border: none;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-heading);
  border-radius: 10px;
}


.search-box input::placeholder {
  color: black;
  opacity: 0.5;
  font-family: var(--font-body);
}

.content {
  background-color: var(--color-primary);
  min-height: calc(100vh - 150px);
}
