.home-container {
  min-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 250px;
}

.home-title {
  font-family: var(--font-heading);
  font-size: 80px;
  color: var(--color-secondary);
}

.home-subtitle {
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
  margin-top: 40px;
  margin-bottom: 40px;
}

.explore-button {
  margin-top: 90px;
  padding: 15px 30px;
  font-size: 18px;
  font-family: var(--font-heading);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
