<div class="return" (click)="returnToList()">
  <p>Volver a la lista de resultados</p>
</div>

<div class="movie-info">
<div class="movie-title-poster" *ngIf="movie">
  <h1 class="movie-title-year">{{ movie.Title }} ({{ movie.Year }})</h1>
  <img class="movie-poster" [src]="movie.Poster" alt="{{ movie.Title }}">
</div>
  <div class="movie-details">
  <p><strong>Release date:</strong> {{movie.Released}}</p>
  <p><strong>Languages: </strong>{{movie.Language}}</p>
  <p><strong>Director:</strong> {{ movie.Director }}</p>
  <p><strong>Genre:</strong> {{ movie.Genre }}</p>
  <p><strong>Plot:</strong> {{ movie.Plot }}</p>
  <p><strong>Actors:</strong> {{ movie.Actors }}</p>
  <p><strong>Awards:</strong> {{ movie.Awards }}</p>
  <p><strong>IMDB Rating:</strong> {{ movie.imdbRating }}</p>
  </div>
</div>
