.results-container{
  padding: 40px;
  font-family: var(--font-heading);
  font-size: 15px;
  color: var(--color-secondary);
  text-decoration-line: underline;
}

.movies-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.movie-card {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: var(--font-heading);
}

.no-results {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: var(--font-heading);
}
