<div class="results-container" *ngIf="searchTerm && isLoaded">
  <h1 class="results">Results for "{{ searchTerm }}"</h1>
</div>

<div class="movies-container" *ngIf="movies.length > 0 && isLoaded">
  <div class="movie-card" *ngFor="let movie of movies">
    <h2>{{ movie.Title +  " (" + movie.Year + ")" }}</h2>
  </div>
</div>

<div class="no-results" *ngIf=" isLoaded && movies.length === 0 && searchTerm">
  <p>No results were found for "{{ searchTerm }}"</p>
</div>

<div class="initial-message" *ngIf="!searchTerm">
  <p>Start by searching for your favorite movies using the search bar above</p>
</div>
